
  .secciones-gruposConformados {
    width: 80%;
    padding: 10px;
    margin:  auto;
    margin-bottom: 50px;
    margin-top: 150px;
  
    border: 2px solid #1C1A38;
}

.imgGrupo{

  max-width: 25% !important;

  aspect-ratio: 1 / 1;
  
  object-fit:initial;

}

@media only screen and (max-width: 768px) {
  .secciones-gruposConformados { margin-top: 200px;}
}