* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* .encabezado {
    width: 100vw;
    height: 100px;
    background-color: #fdd306;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    font-family: "Quicksand", sans-serif;
    font-size: medium; 
}

.logo-nav {
    width: 260px; 
    height: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 10px;
}

.nav-link {
    padding: 20px;
    font-size: 1.2em;
    font-weight: 500;
    color: #250d47;
}

.nav-link a:hover {
    background-color: lightgray;
    font-size: 1.2em;
    font-weight: bold;
} */

main{
    display: flex;
    justify-content: center;
}

.secciones {
    display: flex;
    flex-direction: row;
    width: 500px;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #1C1A38;
}

.secciones-formulario {
    display: flex;    
    flex-direction: row;
    width: 500px; 
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #1C1A38;
    border-radius: 20px 20px 20px 20px;
    order: 1;  
}

.secciones-gruposConformados {
    display: flex;
    flex-direction: row;
    width: 750px;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #1C1A38;
}
#seccion1 {
    color: #1C1A38;
    padding: 20px;
    display: flex;
    border-radius: 20px 0 0 20px;
    order: 1;
}

.seccion1-h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 20px;
}

.seccion1-h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-weight: bold;
    margin-bottom: 20px;
}

.seccion1-h3 {
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5px;
}

.seccion2-h2 {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5px;
}

.seccion3-h3 {
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 5px;
}

.seccion1-p {
    text-align: justify;
    font-size: 2em;
    font-weight: 600;
}

#seccion2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    background-color: #1C1A38;
    color: white;
    padding: 50px;
    border: 2px solid #1C1A38;
    order: 2;
}

#seccion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    background-color: #1C1A38;
    color: white;
    padding: 50px;
    border: 2px solid #1C1A38;
    order: 2;
}

.form-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

.form-login {
    font-size: 1em;
    font-weight: 400;
}

.login-welcome {
    text-align: center;
    font-size: 24px;
}

.welcome {
    margin: 10px;
    font-weight: bold;
}
.logo-login {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.email-in {
    display: block;
    width: 100%;
    padding: 10px;
    height: 20px;
    margin: 10px;
    margin-right: 0;
    border-radius: 10px;
    border: 2px solid 0;
    flex: 1;
}

.input-field {
    display: block;
    height: 20px;
    margin-right: 0;
    border-radius: 10px;
    border: 2px solid 0;
    flex: 1;
    width: 65%;
    margin-right: 0;
    padding: 5px;
}

.input-label {
    width: 100px; 
    text-align: right; 
    margin-right: 10px; 
    text-align: left;
}

.input-label-registro {
    width: 30%; 
    margin-right: 5%; 
    text-align: right;
}

.password-in {
    display: block;
    width: 100%;
    padding: 10px;
    height: 20px;
    margin: 10px;
    margin-right: 0;
    border-radius: 10px;
    border: 2px solid 0;
    flex: 1;
}

.btn-form {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-form:hover {
    background-color: #0056b3;
}

/* footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #333333;  
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-right: auto; 
    padding: 20px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.logo-footer {
    width: 300px; 
    height: auto;
    margin-right: auto;
} */

.form-label {
    /* display: block; */
    font-size: 10px;
    text-align: left;
    font-weight: bold;
    /* width: 300px; */
}

#seccion1,
#seccion2,
#seccion3, {
    flex-grow: 1; 
    max-width: 500px; 
    padding: 20px;
    box-sizing: border-box; 
}

/* Media Query para ajustar el diseño en pantallas más pequeñas */
@media only screen and (max-width: 768px) {
    main {
        flex-direction: column; 
    }

    #seccion1,
    #seccion2,
    #seccion2, {
        flex-grow: initial; 
        max-width: none; 
        width: 100%; 
    }
}